framework:
  messenger:
    # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
    # failure_transport: failed

    transports:
      async: '%env(MESSENGER_TRANSPORT_DSN)%'
      sync: 'sync://'

    routing:
      'App\Bus\Message\AsyncMessageInterface': async

    default_bus: command.bus
    buses:
      command.bus:
        middleware:
          - validation
          - doctrine_transaction
      query.bus:
        middleware:
          - validation
      event.bus:
        default_middleware: allow_no_handlers
        middleware:
          - validation
