version: '3'
volumes:
  data-pgsql:
    driver: local
  data-rabbitmq:
    driver: local
services:
  php-fpm:
    build:
      context: .
      dockerfile: .docker/backend/Dockerfile
    restart: always
    volumes:
      - "./var/log:/app/var/log"
    env_file:
      - .env.local
    depends_on:
      - db
      - queue
      - cache
  stream-processor:
    build:
      context: .
      dockerfile: .docker/backend/Dockerfile
    restart: always
    volumes:
      - "./var/log:/app/var/log"
    user: www-data
    command:
      - "php"
      - "/app/bin/console"
      - "app:user-stream:process"
      - "-vvv"
    env_file:
      - .env.local
    depends_on:
      - db
      - queue
      - cache
  webserver:
    build:
      context: .
      dockerfile: .docker/frontend/Dockerfile
    restart: always
    depends_on:
      - php-fpm
    ports:
      - 8366:80
  worker:
    build:
      context: .
      dockerfile: .docker/backend/Dockerfile
    restart: always
    volumes:
      - "./var/log:/app/var/log"
    user: www-data
    command:
      - "php"
      - "/app/bin/console"
      - "messenger:consume"
      - "async"
      - "-vvv"
      - "--memory-limit=128M"
      - "--time-limit=3600"
    env_file:
      - .env.local
    depends_on:
      - db
      - queue
      - cache
  db:
    image: postgres:alpine
    restart: always
    env_file:
      - .env.local
    volumes:
      - "data-pgsql:/var/lib/postgresql/data"
  queue:
    image: rabbitmq:alpine
    restart: always
    volumes:
      - "data-rabbitmq:/var/lib/rabbitmq"
  cache:
    image: redis:alpine
    restart: always
